<!DOCTYPE html>
<html>
<head>
    <title>RookieProspectAnalyzer</title>
    <link rel="icon" href="static\mag-logo-black.png" type="image/png">

    <style>
        /* CSS Reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #DAD7CD;
        color: #333;
        font-family: 'Montserrat', Helvetica, Arial, serif;
        padding: 20px; /* Added padding to all sides */
    }

    h1 {
        margin-bottom: 20px;
    }

    .navbar {
        background-color: #3A5A40;
        padding: 15px;
        margin-bottom: 20px;
        color: #F0EBD8;
        width: 100%; /* Takes up the whole page width */
        display: flex; /* Added */
        align-items: center; /* Added */
    }

    .navbar .logo {
        margin-right: 10px;
    }

    .navbar .logo img {
        width: 50px;
        height: auto;
    }

    .navbar h2 {
        margin: 0;
    }

    .filter-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .filter-container label {
        margin-right: 10px;
        font-weight: bold;
        display: inline-block;
        width: 80px;
        font-size: 14px;
    }

    .filter-container input {
        padding: 8px;
        border: 1px solid #333;
        border-radius: 4px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 120px;
    }

    .filter-container button {
        padding: 8px 16px;
        background-color: #3A5A40;
        color: #F0EBD8;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
    }

    table {
        border-collapse: collapse;
        border: 1px solid #333;
        width: 100%; /* Added width to fill the available space */
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #333;
        border-right: 1px solid #333; /* Added border-right */
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: normal;
    }

    th {
        background-color: #3A5A40;
        color: #F0EBD8;
        font-weight: bold;
        font-size: 14px;
        white-space: nowrap;
    }

    tr:nth-child(even) {
        background-color: #F0EBD8;
    }

    tr:hover {
        background-color: #C5D8B9;
    }

    .rank-column {
        font-weight: bold;
    }

    /* Remove border-right from last cell in each row */
    tr td:last-child {
        border-right: none;
    }

    .table-container th a {
        text-decoration: none; /* Remove underline */
        color: #DAD7CD; /* Set desired text color */
    }

    .table-container th a:hover {
        color: #DAD7CD; /* Set desired text color on hover */
    }

    .arrow-up::before {
        content: "\2191";
        display: inline-block;
        vertical-align: middle;
    }    
        
    .arrow-down::before {
        content: "\2193";
        display: inline-block;
        vertical-align: middle;
    }    
    </style>

</head>

<body>

    <div class="navbar">
        <div class="logo">
            <img src="static\mag-logo-best.png" alt="Logo">
        </div>
        <h2>RookieProspectAnalyzer</h2>
    </div>
    

    <div class="filter-container">
        <form action="/" method="get">
            <label for="ppg_min">PPG Min:</label>
            <input type="number" step="0.1" id="ppg_min" name="ppg_min" value="{{ ppg_min }}">

            <label for="ppg_max">PPG Max:</label>
            <input type="number" step="0.1" id="ppg_max" name="ppg_max" value="{{ ppg_max }}">
            
            <label for="age_min">Age Min:</label>
            <input type="number" id="age_min" name="age_min" value="{{ age_min }}">
            
            <label for="age_max">Age Max:</label>
            <input type="number" id="age_max" name="age_max" value="{{ age_max }}">
            
            <label for="gp_min">GP Min:</label>
            <input type="number" id="gp_min" name="gp_min" value="{{ gp_min }}">
            
            <label for="gp_max">GP Max:</label>
            <input type="number" id="gp_max" name="gp_max" value="{{ gp_max }}">
            
            <label for="mpg_min">MPG Min:</label>
            <input type="number" step="0.1" id="mpg_min" name="mpg_min" value="{{ mpg_min }}">
            
            <label for="mpg_max">MPG Max:</label>
            <input type="number" step="0.1" id="mpg_max" name="mpg_max" value="{{ mpg_max }}">
            
            <label for="rpg_min">RPG Min:</label>
            <input type="number" step="0.1" id="rpg_min" name="rpg_min" value="{{ rpg_min }}">
            
            <label for="rpg_max">RPG Max:</label>
            <input type="number" step="0.1" id="rpg_max" name="rpg_max" value="{{ rpg_max }}">
            
            <label for="apg_min">APG Min:</label>
            <input type="number" step="0.1" id="apg_min" name="apg_min" value="{{ apg_min }}">
            
            <label for="apg_max">APG Max:</label>
            <input type="number" step="0.1" id="apg_max" name="apg_max" value="{{ apg_max }}">
            
            <label for="spg_min">SPG Min:</label>
            <input type="number" step="0.1" id="spg_min" name="spg_min" value="{{ spg_min }}">
            
            <label for="spg_max">SPG Max:</label>
            <input type="number" step="0.1" id="spg_max" name="spg_max" value="{{ spg_max }}">
            
            <label for="bpg_min">BPG Min:</label>
            <input type="number" step="0.1" id="bpg_min" name="bpg_min" value="{{ bpg_min }}">
            
            <label for="bpg_max">BPG Max:</label>
            <input type="number" step="0.1" id="bpg_max" name="bpg_max" value="{{ bpg_max }}">
            
            <label for="tpg_min">TPG Min:</label>
            <input type="number" step="0.1" id="tpg_min" name="tpg_min" value="{{ tpg_min }}">
            
            <label for="tpg_max">TPG Max:</label>
            <input type="number" step="0.1" id="tpg_max" name="tpg_max" value="{{ tpg_max }}">
            
            <label for="fta_min">FTA Min:</label>
            <input type="number" step="1" id="fta_min" name="fta_min" value="{{ fta_min }}">
            
            <label for="fta_max">FTA Max:</label>
            <input type="number" step="1" id="fta_max" name="fta_max" value="{{ fta_max }}">

            <label for="ft_min">FT% Min:</label>
            <input type="number" step="0.001" id="ft_min" name="ft_min" value="{{ ft_min }}">

            <label for="ft_max">FT% Max:</label>
            <input type="number" step="0.001" id="ft_max" name="ft_max" value="{{ ft_max }}">

            <label for="2pa_min">2PA Min:</label>
            <input type="number" step="1" id="pa2_min" name="pa2_min" value="{{ pa2_min }}">

            <label for="2pa_max">2PA Max:</label>
            <input type="number" step="1" id="pa2_max" name="pa2_max" value="{{ pa2_max }}">

            <label for="p2_min">2P% Min:</label>
            <input type="number" step="0.001" id="2p_min" name="2p_min" value="{{ p2_min }}">

            <label for="p2_max">2P% Max:</label>
            <input type="number" step="0.001" id="2p_max" name="2p_max" value="{{ p2_max }}">

            <label for="3pa_min">3PA Min:</label>
            <input type="number" step="1" id="3pa_min" name="3pa_min" value="{{ pa3_min }}">

            <label for="3pa_max">3PA Max:</label>
            <input type="number" step="1" id="3pa_max" name="3pa_max" value="{{ pa3_max }}">

            <label for="p3_min">3P% Min:</label>
            <input type="number" step="0.001" id="3p_min" name="3p_min" value="{{ p3_min }}">

            <label for="p3_max">3P% Max:</label>
            <input type="number" step="0.001" id="3p_max" name="3p_max" value="{{ p3_max }}">

            <label for="efg_min">eFG% Min:</label>
            <input type="number" step="0.001" id="efg_min" name="efg_min" value="{{ efg_min }}">

            <label for="efg_max">eFG% Max:</label>
            <input type="number" step="0.001" id="efg_max" name="efg_max" value="{{ efg_max }}">

            <label for="ts_min">TS% Min:</label>
            <input type="number" step="0.001" id="ts_min" name="ts_min" value="{{ ts_min }}">

            <label for="ts_max">TS% Max:</label>
            <input type="number" step="0.001" id="ts_max" name="ts_max" value="{{ ts_max }}">

            <label for="ortg_min">ORtg Min:</label>
            <input type="number" step="1" id="ortg_min" name="ortg_min" value="{{ ortg_min }}">

            <label for="ortg_max">ORtg Max:</label>
            <input type="number" step="1" id="ortg_max" name="ortg_max" value="{{ ortg_max }}">

            <label for="drtg_min">DRtg Min:</label>
            <input type="number" step="1" id="drtg_min" name="drtg_min" value="{{ drtg_min }}">

            <label for="drtg_max">DRtg Max:</label>
            <input type="number" step="1" id="drtg_max" name="drtg_max" value="{{ drtg_max }}">

            <button type="submit">Apply Filters</button>
        </form>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='NAME', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Name
                          {% if sort_by == 'NAME' %}
                            {% if sort_dir == 'asc' %}
                              <i class="arrow-up"></i>
                            {% else %}
                              <i class="arrow-down"></i>
                            {% endif %}
                          {% endif %}
                        </a>
                    </th>                  
                    <th>
                        <a href="{{ url_for('start_page', sort_by='AGE', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Age
                            {% if sort_by == 'AGE' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='position', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Position
                            {% if sort_by == 'position' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th> 
                    <th>
                        <a href="{{ url_for('start_page', sort_by='GP', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">GP
                            {% if sort_by == 'GP' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='MPG', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">MPG
                            {% if sort_by == 'MPG' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='PPG', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">PPG
                            {% if sort_by == 'PPG' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='RPG', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">RPG
                            {% if sort_by == 'RPG' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='APG', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">APG
                            {% if sort_by == 'APG' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='SPG', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">SPG
                            {% if sort_by == 'SPG' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='BPG', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">BPG
                            {% if sort_by == 'BPG' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='TPG', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">TPG
                            {% if sort_by == 'TPG' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='FTA', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">FTA
                            {% if sort_by == 'FTA' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='`FT%`', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">FT%
                            {% if sort_by == '`FT%`' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='`2PA`', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">2PA
                            {% if sort_by == '`2PA`' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='`2P%`', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">2P%
                            {% if sort_by == '`2P%`' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>           
                    <th>
                        <a href="{{ url_for('start_page', sort_by='`3PA`', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">3PA
                            {% if sort_by == '`3PA`' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='`3P%`', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">3P%
                            {% if sort_by == '`3P%`' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='`eFG%`', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">eFG%
                            {% if sort_by == '`eFG%`' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='`TS%`', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">TS%
                            {% if sort_by == '`TS%`' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='ORtg', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">ORtg
                            {% if sort_by == 'ORtg' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{ url_for('start_page', sort_by='DRtg', sort_dir=sort_dir) }}{% for key, value in request.args.items() %}{% if key != 'sort_by' and key != 'sort_dir' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">DRtg
                            {% if sort_by == 'DRtg' %}
                                {% if sort_dir == 'asc' %}
                                    <i class="arrow-up"></i>
                                {% else %}
                                    <i class="arrow-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>   
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                    <td>{{ result[2] }}</td>
                    <td>{{ result[3] }}</td>
                    <td>{{ result[4] }}</td>
                    <td>{{ result[5] }}</td>
                    <td>{{ result[6] }}</td>
                    <td>{{ result[7] }}</td>
                    <td>{{ result[8] }}</td>
                    <td>{{ result[9] }}</td>
                    <td>{{ result[10] }}</td>
                    <td>{{ result[11] }}</td>
                    <td>{{ result[12] }}</td>
                    <td>{{ result[13] }}</td>
                    <td>{{ result[14] }}</td>
                    <td>{{ result[15] }}</td>
                    <td>{{ result[16] }}</td>
                    <td>{{ result[17] }}</td>
                    <td>{{ result[18] }}</td>
                    <td>{{ result[19] }}</td>
                    <td>{{ result[20] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>